@echo off
..\bin\coretools\CrmSvcUtil.exe /url:"[https://yourorgurl]/XRMServices/2011/Organization.svc" "/username:[username]" "/password:[password]" "/domain:[domain]" "/out:Context.design.cs" "/ServiceContextName:[Some Name]ContextService" "/namespace:[Some Namespace].Entities" "/codewriterfilter:Kipon.Xrm.Tools.CodeWriter.CodeWriterFilter,Kipon.Xrm.Tools" "/codecustomization:Kipon.Xrm.Tools.CodeWriter.PluginCustomizeCodeDomService,Kipon.Xrm.Tools" /generateActions
