@echo off
call ..\bin\coretools\kipon.xrm.cmd "buildmodel" "/connectionstring:auth=[ENV-NAME]" "/out:Context.design.cs" "/ServiceContextName:	ContextService" "/namespace:[Set namespace].Entities" "/codewriterfilter:Kipon.Xrm.Tools.CodeWriter.CodeWriterFilter,Kipon.Xrm.Tools" "/codecustomization:Kipon.Xrm.Tools.CodeWriter.PluginCustomizeCodeDomService,Kipon.Xrm.Tools" /generateActions
