<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="kiponSec" type="Kipon.PluginRegistration.Security.Configuration.KiponSecConfigurationSection, Kipon.PluginRegistration" />
  </configSections>

  <kiponSec xrmServiceUrl="http://kipon-dev/kip/XRMServices/2011/Organization.svc" xrmServiceUser="deploy" xrmServicePassword="#!dWWk56(&lt;ahjDeQ" xrmServiceDomain="dom" xrmAuthenticationProviderType="ActiveDirectory" />

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

</configuration>

