<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="CRM" connectionString="AuthType=AD;Url=http://kipon-dev/kipAA;" />-->
    <add name="CRM" connectionString="AuthType=ClientSecret; Url=https://scl-dev01.crm4.dynamics.com; ClientId=Ae236e4d8-66c2-4d56-b4ae-625f04037123; ClientSecret=wIIt0eJGQHEm=E-=9r[5rjT9q3etN-?p; Tenentid=4a956888-f4d0-4577-9fe1-fd79fa26f24a"/>
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>